{
  "token": "NjMxODUxMzkxMDE4NzI5NDc0.XaMWbw.xOoXOZn-tNFdrkGyv-J9xsGA0jE",
  "mailGuildId": "623428462660681748",
  "mainGuildId": "614203638843179016",
  "logChannelId": "625313403648475146",

  "status": "Message me for help!",
  "responseMessage": "Thank you for your message! Our mod team will reply to you here as soon as possible."
}
